{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row new entry">
            <div class="col-xs-11">
                <h4 class="text-muted">Log</h4>
            </div>
        </div>
        <br/>
        <div class="row entries">
            <div class="col-xs-12">
                <div class="">
                    <table class="tableHistory" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    Tech
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>
                                    {{ log.first_name }} {{ log.last_name }}
                                </td>
                                <td>
                                    {{ log.item }}
                                </td>
                                <td>
                                    {{ log.action }}
                                </td>
                                <td>
                                    {{ log.tech }}
                                </td>
                                <td>
                                    {{ log.getPrintableDueDate() }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>  
        $('.deleteForm').click(function(e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm({ 
                size: "small",
                buttons: {
                    confirm: {
                        label: 'Delete',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-default'
                    }
                },
                message: "Are you sure?", 
                
                callback: function(result){ 
                    if (result == true) {
                        currentForm.submit();
                    }
                }
            })
        });
        
        var textBlock = $('.OtherItem');
        textBlock.hide();
        
        function change(obj) {
            var textBlock = $('.OtherItem');
            var selectBox = document.getElementById("item");
            var selected = selectBox.value;
            
            if (selected == '3'){
               textBlock.show();
            }else{
                textBlock.hide();
            }
        }
    </script>

{% endblock %}