{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row new entry">
            <div class="col-xs-11">
                <h4 class="text-muted">New Loan</h4>
                <form action="" method="post" name="newEntry">
					{{ form.hidden_tag() }}
                    <div class="form-group">
                        {{form.firstName.label}}
						{{form.firstName(placeholder="E.g. Damir", class="form-control")}}
                    	<small id="emailHelp" class="form-text text-muted">We'll never share this lol with anyone else.</small>
                  	</div>
                    <div class="form-group">
                    	{{form.lastName.label}}
						{{form.lastName(placeholder="E.g. Vitaz", class="form-control")}}
                  </div>
                  <!--<div class="form-group">
                    <label for="exampleSelect1">Select Item</label>
                        <select class="form-control" id="exampleSelect1">
                      <option>Item 1</option>
                      <option>Item 2</option>
                      <option>Item 3</option>
                      <option>Other</option>
                    </select>
                  </div>
                    <div class="form-group">
                        <label for="example-datetime-local-input" class="example-text-imput">Return Date</label>
                             <input class="form-control" type="date" value="2011-08-19" id="example-date-input">

                        </div>-->
                  <div class="form-group">
                    <label for="exampleTextarea">Item:</label>
                    {{ form.body(placeholder="E.g. Apple Superdrive", class="form-control") }}
                    </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <div class="row entries">
            <div class="col-xs-12">
                <h4 class="text-muted">Current Loans</h4>
                
                {% for entry in entries %}
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="tableIndex" rowspan="2"><span class="label label-primary">{{ entry.id }}</span></th>
                            <td><b>Client:</b> {{ entry.first_name }} {{ entry.last_name }}</td>
                            <th class="tableBin" rowspan="2">
                                <form action="{{ url_for('delete_entry') }}" method="POST" class="deleteEntry">
                                    <input type=hidden value="{{ entry.id }}"name="entry_to_delete">
                                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <td class="tg-yw4l"><b>Item:</b> {{entry.body}}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}