{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row new entry">
            <div class="col-xs-11">
                <h4 class="text-muted">New Loan</h4>
                <form data-toggle="validator" action="" method="post" name="newEntry">
					{{ form.hidden_tag() }}
                    <div class="form-group has-danger">
                        {{form.firstName.label}}
						{{form.firstName(placeholder="E.g. Damir", class="form-control form-control-danger ", id="inputDanger1", required="true")}}
                    	<small id="emailHelp" class="form-text text-muted">We'll never share this lol with anyone else.</small>
                  	</div>
                    <div class="form-group">
                    	{{form.lastName.label}}
						{{form.lastName(placeholder="E.g. Vitaz", class="form-control", required="true")}}
                  </div>
                  <div class="form-group">
                        {{form.item.label}}
                        {{form.item(class="form-control", id="item", onchange="change(this)")}}
                  </div>
                    <!--<div class="form-group">
                        <label for="example-datetime-local-input" class="example-text-imput">Return Date</label>
                             <input class="form-control" type="date" value="2011-08-19" id="example-date-input">

                        </div>-->
                  <div class="form-group OtherItem">
                    <label for="exampleTextarea">Other Item:</label>
                    {{ form.body(placeholder="E.g. Apple Superdrive", class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{form.duration.label}}
                        {{form.duration(class="form-control daysSelect", id="duration")}}
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <div class="row entries">
            <div class="col-xs-12">
                <h4 class="text-muted">Current Loans</h4>
                
                {% for entry in entries %}
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            {% if (entry.days_remaining > 2) %}
                                <td style="background-color:#00cc00;width: 7px; padding:0;" rowspan="2"></th>
                            {% elif (entry.days_remaining > 0) %}
                                <td style="background-color:#ffb31c;width: 7px; padding:0;" rowspan="2"></th>
                            {% else %}
                                <td style="background-color:#f44e42;width: 7px; padding:0;" rowspan="2"></th>
                            {% endif %}
                            <th class="tableIndex" style="width: 55px; padding:0;"><span class="label label-primary">#{{ entry.id }}</span></th>
                            <td class="tableClient"><b>Client:</b> {{ entry.first_name }} {{ entry.last_name }}</td>
                            <th class="tableBin" style="width: 50px; padding:7px;" rowspan="2">
                                <form action="{{ url_for('delete_entry') }}" method="POST" class="deleteEntry">
                                    <input type=hidden value="{{ entry.id }}"name="entry_to_delete">
                                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                            </th>
                            
                        </tr>
                        <tr>
                            <td class="tableTime"><span class="glyphicon glyphicon-time"></span> 
                                {% if (entry.duration > 0) %}
                                    {{ entry.days_remaining }}
                                {% else %}
                                    5
                                {% endif %}
                            </td>
                            <td class="tableItem"><b>Item:</b> {{entry.item}} </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>    
        var textBlock = $('.OtherItem');
        textBlock.hide();
        
        function change(obj) {
            var textBlock = $('.OtherItem');
            var selectBox = document.getElementById("item");
            var selected = selectBox.value;
            
            if (selected == '3'){
               textBlock.show();
            }else{
                textBlock.hide();
            }
        }
    </script>

{% endblock %}