{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row new entry">
            <div class="col-xs-11">
                <h4 class="text-muted">New Loan</h4>
                <hr style="height:10pt; visibility:hidden;" />
                <form class="form-horizontal maxForm" id="newEntryForm" data-toggle="validator" action="" method="post" name="newEntry">
					{{ form.hidden_tag() }}
                    <div class="form-group has-danger">
                        <div class="col-xs-12">
						{{form.firstName(placeholder="First Name", class="form-control form-control-danger ", id="inputDanger1", required="true", type="text", maxlength="25")}}
                        </div>
                  	</div>
                    <div class="form-group">
                        <div class="col-xs-12">
						{{form.lastName(placeholder="Last Name", type="text", maxlength="30", class="form-control", required="true")}}
                        </div>
                  </div>
                  
                    <div class="form-group">
                    <div class="col-xs-12" id="parent">
                            <div id="narrow" class="center-block">{{form.quantity(value=1, class="form-control",  required="true", type="number", min="1", max="99")}}
                            </div>
                            <div id="wide" class="">
                            {{form.item(class="form-control", id="item", onchange="change(this)")}}
                            </div>
                            
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="example-datetime-local-input" class="example-text-imput">Return Date</label>
                             <input class="form-control" type="date" value="2011-08-19" id="example-date-input">

                        </div>-->
                  <div class="form-group OtherItem">
                    <div class="col-xs-12">
                        {{ form.body(placeholder="E.g. Projector", class="form-control", type="text", maxlength="40") }}
                    </div>
                    </div>
                    <div class="form-group AssetNo">
                    <div class="col-xs-12">
                        {{ form.asset(placeholder="Asset No.", class="form-control", type="text", maxlength="30") }}
                    </div>
                    </div>
                    <div class="form-group Notes">
                    <div class="col-xs-12">
                        {{ form.notes(placeholder="Notes", class="form-control", type="text", maxlength="100") }}
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12" id="parent">
                            <div id="narrow" class="center-block">{{form.duration(value=1, class="form-control", required="true", type="number", min="1", max="99")}}
                            </div>
                            <div id="wide" class="">
                            <p class="daysLabel">Day(s)</p>
                            </div>
                            
                        </div>

                  </div>
                  <button type="submit" name="btn" value="Submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
        <br/>
        {% if entries %}
        <hr/>
        <br/>
        <div class="row entries">
            <div class="col-xs-12">
                <h4 class="text-muted">Current Loans</h4>
                <hr style="height:10pt; visibility:hidden;" />
                {% for entry in entries %}
                {% if entry.status == "On Loan" %}
                <div class="tableRounded">
                    <table border="0"  bgcolor="#00FF00" class='table-hover1 table table-borderless clickable-row' data-href="{{ url_for('view_entry', entry_id = entry.id) }}">
                        <tr>
                            {% if entry.days_remaining > 2 %}
                                <td style="background-color:#00C853 ;width: 7px; padding:0;" rowspan="2"></td>
                            {% elif (entry.days_remaining > 0) %}
                                <td style="background-color:#FF9800;width: 7px; padding:0;" rowspan="2"></td>
                            {% elif (entry.days_remaining == 0 and entry.status == "On Loan") %}
                                <td style="background-color:#F44336;width: 7px; padding:0;" rowspan="2"></td>
                            {% else %}
                                <td style="background-color:#959ca8;width: 7px; padding:0;" rowspan="2"></td>
                            {% endif %}
                            <td class="tableIndex" style="width: 60px; padding:0;"><span class="label label-primary">#{{ entry.id }}</span></td>
                            <td class="tableClient"><b>Client:</b> {{ entry.first_name }} {{ entry.last_name }}</td>
                            <th class="tableBin notThis" style="width: 50px; padding:7px;" rowspan="2">
                                <form action="{{ url_for('delete_entry') }}" class="deleteForm" id="delete" method="POST" class="deleteEntry">
                                    <input type=hidden value="{{ entry.id }}"name="entry_to_delete">
                                    <button type="submit" name="delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                            </th>
                            
                        </tr>
                        <tr>
                            <td class="tableTime"><span class="glyphicon glyphicon-time"></span> 
                                {% if (entry.duration > 0) %}
                                    {{ entry.days_remaining }}
                                {% else %}
                                    5
                                {% endif %}
                            </td>
                            <td class="tableItem"><b>Item:</b> <span style="margin-left: 0.6em;">{{entry.quantity}}x {{entry.item}} </span></td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <script> 
        $('.deleteForm').click(function(e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm({ 
                size: "small",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-default'
                    }
                },
                message: "Mark this Loan as returned?", 
                
                callback: function(result){ 
                    if (result == true) {
                        currentForm.submit();
                    }
                }
            })
        });
        
        $('#form').submit(function () {
            //do your validation or whatever you need to do before submit
        });
        
        //$("#newEntryForm")[0].reset();
        
        var textBlock = $('.OtherItem');
        textBlock.hide();
        
        var textBlock2 = $('.AssetNo');
        textBlock2.hide();
        
        function change(obj) {
            var textBlock = $('.OtherItem');
            var selectBox = document.getElementById("item");
            var selected = selectBox.value;
            
            if (selected == '4'){
               textBlock.show();
                textBlock2.show();
            }else if (selected == '1' | selected == '2'){ 
                textBlock.hide();
                textBlock2.show();
            } else{
                textBlock.hide();
                textBlock2.hide();
            }
            
            
        }
        
        jQuery(document).ready(function($) {
            $(".clickable-row td").click(function() {
                window.document.location = $(this).closest(".clickable-row").data("href");
            });
        });
        
    </script>

{% endblock %}